---
window:
  title: Alacritty
  dynamic_title: true
  decorations: full
  opacity: 0.80

env:
  TERM: xterm-256color

{{ if eq .chezmoi.os "linux" -}}
font:
  size: 13

  normal:
    family: Cascadia Code
    style: Medium

  offset:
    x: 0
    y: 0
{{- else if eq .chezmoi.os "darwin" -}}
font:
  size: 15

  normal:
    family: CaskaydiaCove Nerd Font

  offset:
    x: 0
    y: 0
{{- end }}

cursor:
  style:
    shape: Block
  unfocused_hollow: true

mouse:
  hide_while_typing: true

working_directory: None

colors:
  bright:
    black: '#555753'
    blue: '#729fcf'
    cyan: '#34e2e2'
    green: '#8ae234'
    magenta: '#ad7fa8'
    red: '#ef2929'
    white: '#eeeeec'
    yellow: '#fce94f'

  cursor:
    cursor: '#ffffff'
    text: '#000000'

  normal:
    black: '#000000'
    blue: '#3465a4'
    cyan: '#06989a'
    green: '#4e9a06'
    magenta: '#75507b'
    red: '#cc0000'
    white: '#d3d7cf'
    yellow: '#c4a000'

  primary:
    background: '#000000'
    foreground: '#ffffff'

  selection:
    background: '#b5d5ff'
    text: '#000000'

key_bindings:
  - { key: T,       mods: Alt,            chars: "\x02\x63"         }
  - { key: Key0,    mods: Alt,            chars: "\x02\x30"         }
  - { key: Key1,    mods: Alt,            chars: "\x02\x31"         }
  - { key: Key2,    mods: Alt,            chars: "\x02\x32"         }
  - { key: Key3,    mods: Alt,            chars: "\x02\x33"         }
  - { key: Key4,    mods: Alt,            chars: "\x02\x34"         }
  - { key: Key5,    mods: Alt,            chars: "\x02\x35"         }
  - { key: Key6,    mods: Alt,            chars: "\x02\x36"         }
  - { key: Key7,    mods: Alt,            chars: "\x02\x37"         }
  - { key: Key8,    mods: Alt,            chars: "\x02\x38"         }
  - { key: Key9,    mods: Alt,            chars: "\x02\x39"         }
  - { key: Left,    mods: Alt,            chars: "\x02\x70"         }
  - { key: Right,   mods: Alt,            chars: "\x02\x6e"         }

  - { key: D,       mods: Alt,            chars: "\x02\x25"         }
  - { key: D,       mods: Control|Alt,    chars: "\x02\x22"         }
  - { key: Space,   mods: Super,          chars: "\x02\x20"         }
  - { key: Up,      mods: Control|Alt,    chars: "\x02\x1b[A"       }
  - { key: Down,    mods: Control|Alt,    chars: "\x02\x1b[B"       }
  - { key: Right,   mods: Control|Alt,    chars: "\x02\x1b[C"       }
  - { key: Left,    mods: Control|Alt,    chars: "\x02\x1b[D"       }
  - { key: Up,      mods: Shift|Alt,      chars: "\x02\x1b[1;2A"    }
  - { key: Down,    mods: Shift|Alt,      chars: "\x02\x1b[1;2B"    }
  - { key: Right,   mods: Shift|Alt,      chars: "\x02\x1b[1;2C"    }
  - { key: Left,    mods: Shift|Alt,      chars: "\x02\x1b[1;2D"    }
